<body>
    <footer>
        <br><br>
        <div class="contenedor">
            <div class="imageconsul">
                <h1 class="titcon">Consultorio Don Julio</h1>
                <img src="assets/img/Icono.jpeg" alt="" width="200" height="200" class="img">
            </div>
            <div class="menu">
                <h1 class="enlacemenu">Enlaces</h1>
                <a aria-current="page" [routerLink]="['/']"><p class="inicio">Inicio</p></a>
                <a aria-current="page" [routerLink]="['/reservar-cita']"><p class="reservar">Reservar Cita</p></a>
                <a aria-current="page" [routerLink]="['/citas-reservadas']"><p class="citas">Citas Reservadas</p></a>
                <a aria-current="page" [routerLink]="['/masonry']"><p class="masonry">Masonry</p></a>
                <a aria-current="page" [routerLink]="['/about']"><p class="acerca">Acerca De</p></a>
                <br>
            </div>
            <div class="horario">
                <h1 class="tithorario">Horario</h1>
                <p class="texthorario">Abierto de:</p>
                <p class="texthorario2">Lunes - Domingo: 8:00 - 20:00</p>
                <br>
            </div>
            <div class="redes">
                <h1 class="titredes">Redes Sociales</h1>
                <div class="iconos">
                    <div class="facebook">
                        <!-- <h3>FACEBOOK</h3> -->
                        <a href="https://www.facebook.com/profile.php?id=100092194983251"><i
                                class="fa-brands fa-square-facebook fa-4x" style="color:#FFFFFF;"></i></a>
                    </div>
                    <div class="instagram">
                        <!-- <h3>INSTAGRAM</h3> -->
                        <a href="#"><i class="fa-brands fa-instagram fa-4x"
                                style="color:#FFFFFF;"></i></a>
                    </div>
                    <div class="twitter">
                        <!-- <h3>TWITTER</h3> -->
                        <a href="https://twitter.com/Consultori19546"><i class="fa-brands fa-twitter fa-4x"
                                style="color:#FFFFFF;"></i></a>
                    </div>
                    <br><br>
                </div>

                <div class="enlaces">
                    <a href="#">
                        <p class="pregunta">Preguntas frecuentes </p>
                    </a>
                    <a href="#">
                        <p class="envio">Aviso de privacidad</p>
                    </a>
                    <a href="#">
                        <p class="metodo">Términos y condiciones</p>
                    </a>
                    <a href="#">
                        <p class="politica">Blog</p>
                    </a>
                </div>
                <br>
            </div>
            <div class="contacto">
                <div>
                    <h1>CONTACTO</h1>
                    <p>Email: consultoriojulio11@gmail.com</p>
                    <p>Tel: 4494189869</p>
                    <p>Dirección: Av. Universidad # 940, Ciudad Universitaria, C.P.<br> 20100, Aguascalientes, Ags. México.</p>
                </div>
                <br>
            </div>
        </div>
    </footer>
</body>