<div class="container mt-3 min-altura">
  <h1>Citas Reservadas</h1>
  <div *ngIf="!citas.length">No hay citas por el momento</div>
  <table *ngIf="citas.length" class="table table-info table-striped">
    <thead>
      <tr>
        <th id="color" scope="col">Nombre</th>
        <th id="color" scope="col">Fecha</th>
        <th id="color" scope="col">Hora</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cita of citas">
        <td id="color">{{ cita.paciente }}</td>
        <td id="color">{{ cita.diaNombre }} {{ cita.dia }} de {{ cita.mesNombre }} del {{ cita.year }}</td>
        <td id="color" [innerHTML]="cita.hora + ':00 - ' + (cita.hora + 1) + ':00'"></td>
      </tr>
    </tbody>
  </table>
</div>
