<div id="contenedor">
    <div id="datos">
        <br><br>
        <h3 class="titulo">Este es un Proyecto de la Universidad Autónoma de Aguascalientes</h3>
        <br>
        <h3 class="titulo">Tecnologías Web</h3>
        <br>
        <h3 class="titulo">Ingeniería en Sistemas Computacionales</h3>
        <br>
        <h3 class="titulo">Semestre 6° "A"</h3>
        <br>
        <h3 class="titulo">Aguascalientes, Ags</h3>
        <br>
        <h3 class="titulo">13/05/2023</h3>
        <br><br>
        <h3 class="titulo">PROGRAMADORES</h3>
    </div>
    <br><br>
    <div class="d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="assets/img/Kevin.jpg" class="card-img-top" alt="...">
            <div class="card-body" id="colorTarjeta">
                <h5 class="card-title" id="texto">Kevin de Jesús Garcés Díaz</h5>
                <p class="card-text" id="texto2">Responsable, trabajador y comprometido con lo que se dispone a hacer.
                </p>
                <a href="https://www.facebook.com/kevindejesus.garcesdiaz" class="btn btn-info">Redes
                    Sociales</a>
                <br>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="assets/img/Uziel.jpeg" class="card-img-top" alt="...">
            <div class="card-body" id="colorTarjeta">
                <h5 class="card-title" id="texto">Alan Uziel López García</h5>
                <p class="card-text" id="texto2">Estudioso y responsable con sus debéres</p>
                <br>
                <a href="https://www.facebook.com/alanuziel.lopez" class="btn btn-info">Redes Sociales</a>
                <br>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="assets/img/Daniel.jpeg" class="card-img-top" alt="...">
            <div class="card-body" id="colorTarjeta">
                <h5 class="card-title" id="texto">Daniel Preciado Delgadillo</h5>
                <p class="card-text" id="texto2">Creativo, responsable y autodidacta</p>
                <br><br>
                <a href="https://www.facebook.com/daniel.preciado.9887117" class="btn btn-info">Redes
                    Sociales</a>
                <br>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="assets/img/Josue.jpg" class="card-img-top" alt="...">
            <div class="card-body" id="colorTarjeta">
                <h5 class="card-title" id="texto">Josué Daniel Parra Dávalos</h5>
                <p class="card-text" id="texto2">Entusiasta por la vida, comprometido, cumplido y asertivo</p>
                <br>
                <a href="https://www.facebook.com/josuedaniel.parradavalos" class="btn btn-info">Redes
                    Sociales</a>
                <br>  
            </div>
        </div>
    </div>
    <br><br>
</div>
