<div class="container mt-3 min-altura">
  <h1>Usuarios Registrados</h1>
  <div *ngIf="!usuarios.length">No hay citas por el momento</div>
  <table *ngIf="usuarios.length" class="table table-info table-striped">
    <thead>
      <tr>
        <th id="color" scope="col">Nombre</th>
        <th id="color" scope="col">Email</th>
        <th id="color" scope="col">Telefono</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td id="color">{{ usuario.nombre }} {{ usuario.apellidos }}</td>
        <td id="color">{{ usuario.email }}</td>
        <td id="color">{{ usuario.telefono }}</td>
    </tbody>
  </table>
</div>