<div class="conte">
  <!-- <form class="formlogin bg-light" #formulario="ngForm" (ngSubmit)="login(formulario)"> -->
  <form class="formlogin bg-light" #formulario="ngForm">
    <div>
      <!-- <span id="inputGroup-sizing-default" style="color: white; font-size: large; ">Email</span> -->
      <input type="email" name="email" id="email" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default" ngModel placeholder="Correo Electrónico">
      <br>
    </div>
    <div>
      <!-- <span id="inputGroup-sizing-default" style="color: white; font-size: large; ">Contraseña</span> -->
      <input type="password" name="password" id="password" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default" ngModel placeholder="Contraseña">
      <br>
    </div>
    <!-- <div style="display: flex; justify-content: center;"> -->
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary" (click)="login(formulario)">Iniciar Sesión</button>
    </div>
    <hr>
    <div class="d-grid gap-2">
      <button class="btn btn-info" (click)="registro()">Crear Nueva Cuenta</button>
    </div>
    <br>
    <div class="d-grid gap-2">
      <button class="btn btn-warning">Login SMS</button>
    </div>
  </form>
</div>
