<div class="container">
  <div *ngIf="estado else cargando">
    <div class="card-columns">
      <div *ngFor="let medico of medicos" class="card">
        <img src="{{ medico.foto }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">{{ medico.nombre }} {{ medico.apellido }}</h4>
          <p class="card-text"> <b>Especialidad:</b> {{ medico.especialidad }}</p>
          <p class="card-text"> <b>Edad:</b> {{ medico.edad }} años</p>
          <p class="card-text"> <b>Sexo:</b> {{ medico.sexo }}</p>
          <p class="card-text"><small class="text-muted">{{ medico.correo }}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #cargando>
  <div id="divBtn">
    <button id="btn" class="btn btn-primary" type="button" disabled>
      <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
      Cargando...
    </button>
  </div>
</ng-template>
