@media (min-width: 1200px) {
  .card-columns {
    -moz-column-count: 5;
    column-count: 5;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .card-columns {
    -moz-column-count: 4;
    column-count: 4;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .card-columns {
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .card-columns {
    -moz-column-count: 2;
    column-count: 2;
  }
}

#contenedor {
  padding-top: 30px;
}

#divBtn {
  width: 20%;
  margin: 0 auto;
}

#btn {
  padding: 15px;
  font-size: 20px;
  margin: 15%;
}

.card {
  margin: 5px;
}
