<div class="conte">
  <form class="formlogin bg-light">
    <h3>Login SMS</h3>
    <div *ngIf="!enviado else non">
      <div>
        <input type="tel" #tele class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default" placeholder="Número de Teléfono">
      </div>
      <div id="recaptcha-container"></div>
      <br>
      <div class="d-grid gap-2">
        <button (click)="recapcha()" class="btn btn-warning">Ver Captcha</button>
      </div>
      <div class="d-grid gap-2" *ngIf="cat">
        <br>
        <button (click)="enviarCodigo(tele.value)" class="btn btn-primary">Enviar SMS</button>
      </div>
    </div>
  </form>
</div>

<ng-template #non>
  <div>
    <input type="text" #confirma class="form-control" aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default" placeholder="Codigo" min="6" max="6">
  </div>
  <br>
  <div class="d-grid gap-2" *ngIf="cat">
    <button (click)="vercodigo(confirma.value)" class="btn btn-warning">Enviar Codigo</button>
  </div>
</ng-template>