
.bor{
    border: 5px solid rgb(20, 21, 21);
}
.example-button-row {
    display: table-cell;
    max-width: 600px;
  }
.colorv1{
    background: rgb(117, 202, 230);
}
.colorv2{
    background: rgb(78, 155, 180);
}
.hei100{
    height: 85%;
}
.flex{
    display: flex;
    justify-content: center;
}
.flex-sp{
    display: flex;
    justify-content: space-around; 
}
.titulo{
    color: white;
    font-size: 70px;
    text-align: center;
    text-shadow: rgb(0, 0, 0) 2px 5px;
}
.subtitulo{
    color: white;
    font-size: 30px;
    text-shadow: rgb(0, 0, 0) 2px 1px;
}
.txtjustify{
    text-align: justify;
}
.animacion:hover  {-webkit-transform:scale(1.1);transform:scale(1.1);}
.animacion{
    margin: 17px;
}
.imgopaca:hover {filter: opacity(.5);}

#logo{
    text-align: center;
    background: rgb(162, 219, 238);
    margin-left: 36px;
}